#!/bin/sh

export SPARK_VERSION=2.4.4
export SBT_VERSION=1.3.2

export PATH=`pwd`/sbt/bin:$PATH
export PATH=`pwd`/spark/bin:$PATH
export PATH=`pwd`/:$PATH

export TERM=xterm-color # fix warnings in spark-shell

# OpenStack credential
export OS_AUTH_URL=https://auth.cloud.ovh.net/v2.0/
export OS_IDENTITY_API_VERSION=2
export OS_TENANT_ID=XXXX
export OS_TENANT_NAME="XXXX"
export OS_USERNAME="XXXX"
export OS_PASSWORD="XXXX"
export OS_REGION_NAME="GRA5"

# OVH Metrics
export METRICS_HOST='https://warp10.XXXX.metrics.ovh.net/api/v0/update'
export METRICS_WRITE_TOKEN="XXXX"
export METRICS_READ_TOKEN="XXXX"

# OVH Logs
export LDP_HOST='XXXX.logs.ovh.com'
export LDP_WSS="wss://XXX.logs.ovh.com/tail/?tk=XXXX"
export LDP_WRITE_TOKEN="XXXX"
